:root {
  --bg-color :rgb(245, 245, 245);
  --font-color : rgb(45,45,45);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify;
  text-transform: lowercase;
}

button {
  background-color: var(--font-color);
  border: none;
  color: var(--bg-color);
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 15px 25px;
  text-align: center;
  text-transform: lowercase;  
}

#self-promo-links {
  width: 100%;
  text-align: center;    
}

.promo-link {
  color: var(--font-color);
  display: inline-block;
  font-weight: bold;
  margin: 5px 15px;
  padding-top: 30px;
  text-decoration: none;
}

#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
}

.topic {
  border-bottom: none; 
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0px;
}

.intro-line {
  margin-top: 4px;
  margin-bottom: 1.2em;
}

#headshot {
  float: right;
  height: auto; 
  width: 46%;
}

