:root {
  --bg-color:rgb(245, 245, 245);
  --font-color: rgb(45,45,45);
  --headshot-width: 55%;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Helvetica, Arial, sans-serif;
  text-transform: lowercase;
}

button {
  background-color: var(--font-color);
  border: none;
  color: var(--bg-color);
  font-size: 16px;
  margin-bottom: 15px;
  padding: 15px 25px;
  text-transform: lowercase;  
}

#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
} 

#headshot {
  height: auto; 
  width: var(--headshot-width);
}

#intro {
  margin-bottom: 10px;
  position: relative;
}

#intro .line {
  margin-bottom: 1.2em;
  margin-top: 4px;
}

#intro #text {
  background-color: var(--font-color);
  bottom: 0;
  color: var(--bg-color);
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: left;
  transition: .5s ease;
  width: var(--headshot-width);
}

#intro:hover #text {
  opacity: 1;
}

#intro p {
  margin-left: 20px;
  margin-right: 20px;
}

.promo-link {
  color: var(--font-color);
  display: inline-block;
  font-weight: bold;
  margin: 5px 15px;
  padding-top: 30px;
  text-decoration: none;
}

.topic {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 2.6em;
}
